
.elementMargin {
    margin-top: 30px;
}

.cover-img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    padding-top: 100px;
}

/* --------------------------------------- */
/* ----------- Global CSS ALL viewports--------------- */
/* --------------------------------------- */

/* ----------------- navbar ----------------------- */

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(184 199 60 / 50%);
}


/* ----------------- Footer ----------------------- */
.lower-footer {
    background-color: black;
    color: white;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color:rgb(184 199 60 / 50%);
    text-decoration: none;
}






/* underconstruction picture */
.message {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    margin-top: 20%;
    text-shadow: 2px 2px #000000;
}




 /* Small size displays  ----------------------------------- */
@media only screen and (max-width: 730px){


    /* --------------------------------------- */
    /* ----------- nav bar CSS --------------- */
    /* --------------------------------------- */
    .navbar {
        background-color: black;
    }

    .logo-img {
        max-height: 60px; /* adjust to your preferred height */
        width: auto;
    }

    .nav-link:hover {
        color: rgb(184 199 60 / 50%);
    }

}

/* Medium size displays ---------------------------------------- */
@media only screen and (min-width: 731px) and (max-width: 1299px){


    /* --------------------------------------- */
    /* ----------- nav bar CSS --------------- */
    /* --------------------------------------- */
    .navbar {
        background-color: black;
    }

    .logo-img {
        max-height: 60px; /* adjust to your preferred height */
        width: auto;
    }
    .nav-link:hover {
        color: rgb(184 199 60 / 50%);
    }
}

/* Big size displays -------------------------------------- */
@media only screen and (min-width: 1300px){

    /* --------------------------------------- */
    /* ----------- nav bar CSS --------------- */
    /* --------------------------------------- */
    .navbar {
        background-color: black;
    }

    .logo-img {
        max-height: 60px; /* adjust to your preferred height */
        width: auto;
    }
    .nav-link:hover {
        color: rgb(184 199 60 / 50%);
    }
}















/* --------------------------------------- */
/* ----------- nav bar CSS --------------- */
/* --------------------------------------- */

/* Small size displays  ----------------------------------- */
@media only screen and (max-width: 730px){
}

/* Medium size displays ---------------------------------------- */
@media only screen and (min-width: 731px) and (max-width: 1299px){
}

/* Big size displays -------------------------------------- */
@media only screen and (min-width: 1300px){
}


/* --------------------------------------- */
/* ----------- Index webpage CSS --------------- */
/* --------------------------------------- */

/* Small size displays  ----------------------------------- */
@media only screen and (max-width: 730px){
}

/* Medium size displays ---------------------------------------- */
@media only screen and (min-width: 731px) and (max-width: 1299px){
}

/* Big size displays -------------------------------------- */
@media only screen and (min-width: 1300px){
} 
