/*Common CSS---------------------------------------- */

/* --------------------------------------- */
/* ----------- Main tags --------------- */
/* --------------------------------------- */


.elementMargin {
    margin-top: 30px;
}

.cover-img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    padding-top: 100px;
}

/* Nav bar CSS */

.logo-img {
    max-height: 60px; /* adjust to your preferred height */
    width: auto;
}

.navbar {
    background-color: black;
}



/* underconstruction picture */
.message {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    margin-top: 20%;
    text-shadow: 2px 2px #000000;
  }




 /* Small size displays  ----------------------------------- */
@media only screen and (max-width: 730px){

}

/* Medium size displays ---------------------------------------- */
@media only screen and (min-width: 731px) and (max-width: 1299px){

}

/* Big size displays -------------------------------------- */
@media only screen and (min-width: 1300px){

}


/* --------------------------------------- */
/* ----------- nav bar CSS --------------- */
/* --------------------------------------- */

/* Small size displays  ----------------------------------- */
@media only screen and (max-width: 730px){
}

/* Medium size displays ---------------------------------------- */
@media only screen and (min-width: 731px) and (max-width: 1299px){
}

/* Big size displays -------------------------------------- */
@media only screen and (min-width: 1300px){
}


/* --------------------------------------- */
/* ----------- Index webpage CSS --------------- */
/* --------------------------------------- */

/* Small size displays  ----------------------------------- */
@media only screen and (max-width: 730px){
}

/* Medium size displays ---------------------------------------- */
@media only screen and (min-width: 731px) and (max-width: 1299px){
}

/* Big size displays -------------------------------------- */
@media only screen and (min-width: 1300px){
} 
